

body{
    background-color: grey;
}

figcaption{
    font-size: 0.8rem;
    bottom: 10px;
    background-color: rgba(32, 35, 37, 0.699);
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 90%;
    border-bottom-right-radius: 10px;
}