body, body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(https://www.diariocritico.com/fotos/1/306037_tarantino.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

header{
    background-color: grey;
}

header .usuario{
    background-color: red;
}

header .menu{
    background-color: cadetblue;
}

main{
    
}


.container-login{
    
    margin: 0 auto;
    color: white;
    width: 350px;
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.692);

    

}

main::before{
    content: "";
    height: 91px;
    display: block;
}

.container-login h2{
    text-align: center;
    margin-bottom: 25px;
}

.container-login form input{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
    border: 0px;
    text-align: center;
    background-color: #b8600d;
    color: aliceblue;
    
}



::placeholder{
    color: aliceblue;
}

.container-login form input:focus{
    border: 1px solid #ff6600;
    background-color: #f08420;
    color: aliceblue;
}

.container-login form input[type="password"]{
    margin-bottom: 100px;
    
}

.container-login form *{
    margin: 0 auto;
    width: 80%;
    display: block;
}

